# Récupération des données
L'objectif de ce notebook est d'expliquer comment accéder aux données utilisées dans ce projet.

In [8]:
import os
import s3fs
import pandas as pd
import requests

## Demandes de Valeurs Foncières Géolocalisées

Il s'agit d'un grand jeu de données (plus de 3 Go), nous avons donc dû le stocker dans le SSPCloud.
Pour récupérer ces données, vous pouvez simplement utiliser le code suivant dans votre environnement SSPCloud ou télécharger les données en utilisant ce [lien](https://www.data.gouv.fr/datasets/demandes-de-valeurs-foncieres-geolocalisees) et en téléchargeant le fichier « dvf.csv.gz ».

In [ ]:
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]

fs = s3fs.S3FileSystem(
    anon=True,
    client_kwargs={"endpoint_url": S3_ENDPOINT_URL}
)

with fs.open("renan/diffusion/dvf.csv", mode="rb") as f:
    df_dvf=pd.read_csv(f)

/tmp/ipykernel_9209/4261777564.py:12: DtypeWarning: Columns (10,12,14,16,17,18,20,22,24,26,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dvf=pd.read_csv(f)

In [4]:
df_dvf

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2020-1,2020-07-01,1,Vente,31234.16,NaN,NaN,SAINT JULIEN,B064,1560.0,...,NaN,NaN,NaN,AB,terrains a bâtir,NaN,NaN,1192.0,5.109255,46.403019
1,2020-2,2020-07-01,1,Vente,278000.00,NaN,NaN,A LA PEROUSE,B188,1250.0,...,NaN,NaN,NaN,BS,taillis sous futaie,NaN,NaN,10092.0,5.444577,46.252372
2,2020-2,2020-07-01,1,Vente,278000.00,NaN,NaN,A LA PEROUSE,B188,1250.0,...,NaN,NaN,NaN,L,landes,NaN,NaN,4570.0,5.444588,46.253467
3,2020-2,2020-07-01,1,Vente,278000.00,NaN,NaN,AUX COMMUNS,B079,1250.0,...,NaN,NaN,NaN,BS,taillis sous futaie,NaN,NaN,5750.0,5.442015,46.256031
4,2020-2,2020-07-01,1,Vente,278000.00,NaN,NaN,EN COMBARNAUD,B033,1250.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,648170.0,5.439915,46.250795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20102734,2025-502880,2025-06-27,1,Vente,550000.00,84.0,NaN,RUE VERGNIAUD,9679,75013.0,...,Appartement,61.0,3.0,NaN,NaN,NaN,NaN,NaN,2.343663,48.823258
20102735,2025-502881,2025-06-27,1,Vente,550386.10,24.0,NaN,RUE DE PONTOISE,7621,75005.0,...,Appartement,47.0,2.0,NaN,NaN,NaN,NaN,NaN,2.351236,48.849138
20102736,2025-502881,2025-06-27,1,Vente,550386.10,24.0,NaN,RUE DE PONTOISE,7621,75005.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.351236,48.849138
20102737,2025-502882,2025-06-25,1,Vente,24417580.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.283008,48.840781
20102738,2025-502882,2025-06-25,1,Vente,24417580.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.283008,48.840781

## Pharmacies
Ce jeu de données est également stocké dans le SSPCloud, il peut donc être accédé de manière similaire. Nous pouvons également utiliser le [lien](https://www.data.gouv.fr/datasets/localisation-des-pharmacies-dans-openstreetmap/?utm_source=chatgpt.com) pour le télécharger.

In [ ]:
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]

fs = s3fs.S3FileSystem(
    anon=True,
    client_kwargs={"endpoint_url": S3_ENDPOINT_URL}
)

with fs.open("renan/diffusion/pharmacies_point.csv", mode="rb") as f:
    df_pharm=pd.read_csv(f)

/tmp/ipykernel_9209/3254414861.py:12: DtypeWarning: Columns (4,11,16,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pharm=pd.read_csv(f)

In [6]:
df_pharm

,FID,osm_id,amenity,name,short_name,official_name,alt_name,old_name,operator,operator-type,...,wikipedia,description,opening_hours,source,note,osm_version,osm_timestamp,the_geom,osm_original_geom,osm_type
0,pharmacies_point.4534591198,4534591198,pharmacy,Pharmacie Centrale de Bondy,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Mo-Sa 08:30-19:30,Le ministère des solidarités et de la santé - ...,NaN,7,2024-05-11T16:57:42Z,POINT (276175.8531618072 6260215.629555009),NaN,node
1,pharmacies_point.3770631311,3770631311,pharmacy,Pharmacie Lafayette Michel,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Mo 14:00-19:00; Tu-Fr 09:00-12:00,14:00-19:00;...",Celtipharm - 10/2014,NaN,7,2025-10-04T07:58:44Z,POINT (773623.818146609 6154607.854076906),NaN,node
2,pharmacies_point.172156934,172156934,pharmacy,Pharmacie des Andaines,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,cadastre-dgi-fr source : Direction Générale de...,NaN,11,2023-08-18T08:56:31Z,POINT (-40562.0055358363 6204977.067562205),SRID=3857;POLYGON((-40572.837448406004 6204977...,way
3,pharmacies_point.3918927589,3918927589,pharmacy,Pharmacie Cayeux Etaploise,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Mo-Fr 08:30-12:30,14:00-19:30; Sa 08:30-12:30,...",Celtipharm - 10/2014,NaN,6,2025-10-09T20:46:23Z,POINT (182438.6302862845 6535708.511748197),NaN,node
4,pharmacies_point.2749148434,2749148434,pharmacy,Pharmacie de la Passerelle,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Mo-Fr 08:30-19:30; Sa 09:00-12:30,Celtipharm - 10/2014,NaN,8,2024-08-09T08:19:51Z,POINT (537447.0172498629 5741414.914610561),NaN,node
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19122,pharmacies_point.1008156074,1008156074,pharmacy,Pharmacie Breuzin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,https://www.centrecommercial-chambray2.fr/,NaN,4,2025-08-16T15:13:26Z,POINT (77715.451590388 5997556.758351026),SRID=3857;POLYGON((77694.39219595183 5997558.0...,way
19123,pharmacies_point.3712079795,3712079795,pharmacy,Pharmacie des Arènes,NaN,NaN,NaN,Pharmacie de Queuleu,NaN,NaN,...,NaN,NaN,"Mo-Fr 08:15-12:30,13:30-19:30; Sa 08:15-12:30,...",survey,NaN,7,2025-08-18T15:41:48Z,POINT (688772.8183389974 6293797.444067404),NaN,node
19124,pharmacies_point.1933342224,1933342224,pharmacy,Pharmacie Jacques,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Celtipharm - 10/2014,NaN,6,2023-06-28T20:45:08Z,POINT (693133.6703352312 6143713.310348924),NaN,node
19125,pharmacies_point.3485646116,3485646116,pharmacy,Pharmacie Patrick Touboul,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Mo-Fr 09:00-19:30,NaN,NaN,9,2022-05-17T18:55:10Z,POINT (278234.4511091999 6222776.176893683),NaN,node
19126,pharmacies_point.1152714441,1152714441,pharmacy,Pharmacie Mery,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Mo 14:30-19:30; Tu-Sa 09:00-12:30,14:30-19:30",Celtipharm - 10/2014,NaN,7,2020-10-29T19:16:08Z,POINT (77343.35731368432 6000941.402720074),NaN,node

## API CATNAT
Le code suivant montre comment nous pouvons récupérer des données sur les catastrophes naturelles en utilisant l'API disponible sur le site [Géorisques](https://www.georisques.gouv.fr/doc-api#/CATNAT/rechercheCatNat). L'exemple suivant montre les catastrophes naturelles qui se sont produites à Paris au cours des années.

In [11]:
url = "https://www.georisques.gouv.fr/api/v1/gaspar/catnat"

params = {
    "code_insee": "75056",
    "page": 1,
    "page_size": 1000
}

resp = requests.get(url, params=params)
resp.raise_for_status()

data = resp.json()

if isinstance(data, dict) and "data" in data:
    df_catnat = pd.DataFrame(data["data"])
else:
    df_catnat = pd.DataFrame(data)

df_catnat

,code_national_catnat,date_debut_evt,date_fin_evt,date_publication_arrete,date_publication_jo,libelle_risque_jo,code_insee,libelle_commune
0,INTE0100460A,06/07/2001,07/07/2001,06/08/2001,11/08/2001,Inondations et/ou Coulées de Boue,75056,PARIS
1,INTE0300592A,31/05/2003,31/05/2003,03/10/2003,19/10/2003,Inondations et/ou Coulées de Boue,75056,PARIS
2,INTE0600132A,01/07/2003,30/09/2003,02/03/2006,11/03/2006,Sécheresse,75056,PARIS
3,INTE0600186A,23/06/2005,23/06/2005,11/04/2006,22/04/2006,Inondations et/ou Coulées de Boue,75056,PARIS
4,INTE1615488A,28/05/2016,05/06/2016,08/06/2016,09/06/2016,Inondations et/ou Coulées de Boue,75056,PARIS
5,INTE1804348A,15/01/2018,05/02/2018,14/02/2018,15/02/2018,Inondations et/ou Coulées de Boue,75056,PARIS
6,INTE1831446A,09/07/2017,10/07/2017,26/11/2018,07/12/2018,Inondations et/ou Coulées de Boue,75056,PARIS
7,INTE1831446A,09/07/2017,10/07/2017,26/11/2018,07/12/2018,Inondations et/ou Coulées de Boue,75056,PARIS
8,INTE1831446A,27/07/2018,27/07/2018,26/11/2018,07/12/2018,Inondations et/ou Coulées de Boue,75056,PARIS
9,INTE1831446A,27/07/2018,27/07/2018,26/11/2018,07/12/2018,Inondations et/ou Coulées de Boue,75056,PARIS
10,INTE9200482A,31/05/1992,01/06/1992,20/10/1992,05/11/1992,Inondations et/ou Coulées de Boue,75056,PARIS
11,INTE9200533A,25/05/1992,25/05/1992,24/12/1992,16/01/1993,Inondations et/ou Coulées de Boue,75056,PARIS
12,INTE9300513A,29/04/1993,30/04/1993,28/09/1993,10/10/1993,Inondations et/ou Coulées de Boue,75056,PARIS
13,INTE9400582A,18/07/1994,19/07/1994,06/12/1994,17/12/1994,Inondations et/ou Coulées de Boue,75056,PARIS
14,INTE9900346A,30/05/1999,30/05/1999,21/07/1999,24/08/1999,Inondations et/ou Coulées de Boue,75056,PARIS
15,INTE9900627A,25/12/1999,29/12/1999,29/12/1999,30/12/1999,Mouvement de Terrain,75056,PARIS
16,INTE9900627A,25/12/1999,29/12/1999,29/12/1999,30/12/1999,Inondations et/ou Coulées de Boue,75056,PARIS
17,MDIE900018A,27/06/1990,27/06/1990,07/12/1990,19/12/1990,Inondations et/ou Coulées de Boue,75056,PARIS
18,NOR19830803,05/06/1983,06/06/1983,03/08/1983,05/08/1983,Inondations et/ou Coulées de Boue,75056,PARIS
19,NOR19830910,05/06/1983,06/06/1983,10/09/1983,11/09/1983,Grêle,75056,PARIS
20,NOR19830910,05/06/1983,06/06/1983,10/09/1983,11/09/1983,Inondations et/ou Coulées de Boue,75056,PARIS
21,NOR19830910,05/06/1983,06/06/1983,10/09/1983,11/09/1983,Tempête,75056,PARIS